GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
GF_AUTH_BASIC_ENABLED=false
GF_AUTH_DISABLE_LOGIN_FORM=true
GF_AUTH_DISABLE_SIGNOUT_MENU=true
GF_SECURITY_ALLOW_EMBEDDING=true
GF_SERVER_SERVE_FROM_SUB_PATH=true
GF_SERVE_FROM_SUB_PATH=true
