MONITORING_DB_HOST=postgres
MONITORING_DB_PORT=5432
MONITORING_DB_USERNAME=monitor
MONITORING_DB_PASSWORD=test
MONITORING_DB_NAME=monitoring
REDIS_DB_HOST=redis
REDIS_DB_PORT=6379
ML_SERVICE_HOST=ml-service
ML_SERVICE_PORT=3000
RABBITMQ_URI=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=test
ENVIRONMENT=production
